:root {
  // Colors
  --color-primary: #27272a;
  --color-secondary: #27272a;
  --color-accent: white;
  --color-background: black;
  --text-color: #fafafa99;
  --text-color-accent: white;

  // Font Sizes (Major Second Typescale - 1.125)
  --text-scale-ratio: 1.125;
  --text-xl: calc(pow(var(--text-scale-ratio), 6) * 1rem);
  --text-lg: calc(pow(var(--text-scale-ratio), 4) * 1rem);
  --text-md: calc(pow(var(--text-scale-ratio), 2) * 1rem);
  --text-sm: calc(pow(var(--text-scale-ratio), 0) * 1rem);
  --text-xs: calc(pow(var(--text-scale-ratio), -2) * 1rem);

  // Spacing
  --space-xl: 1.75rem; // 28px
  --space-lg: 1.5rem;  // 24px
  --space-md: 1rem;    // 16px
  --space-sm: 0.5rem;  // 8px
  --space-xs: 0.25rem; // 4px  
}

body {
  margin: 0px;
  font-family: 'Geist';
  font-size: 1rem;
  color: var(--text-color);
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* =====================================================================================================================
 *  Font Faces
 * ================================================================================================================== */

@font-face {
  font-family: 'Geist';
  src: 
    url('assets/fonts/geist/geist.woff2') format('woff2')
}